*~
src_backup/
build/
.cproject
.gitignore
.project
Default-568h@2x.png
android/
bar-descriptor.xml
build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/bin/linux/t4tapp
build/cmake_install.cmake
build/gameplay/
fbx/FBX_SDK_Online_Documentation.html
fbx/License.txt
fbx/bin/
fbx/include/
fbx/lib/
fbx/make_scene.cpp
fbx/modelbuild/app materials.obj
fbx/modelbuild/app materials.skp
fbx/obj/
fbx/samples/
game.config
icon.png
t4tapp-ios.plist
t4tapp-macosx.plist
t4tapp.vcxproj
t4tapp.vcxproj.filters
t4tapp.vcxproj.user
t4tapp.xcodeproj/
src/collada-dom-2.4.0.tgz
src/collada-dom-2.4.0/
src/pugixml-1.5/
src/usaa.txt

